<!DOCTYPE html>
<html>
<head>
  <title><%= username %> Home </title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles_chat.css" />
  <script src="/static/js/jquery.min.js"></script></head>
<body>
  <div>
    <h3>Welcome : <%= username %>  </h3> <hr>
    <button type="button" onclick="window.location = ' http://10.10.51.51:8080/user/' + document.cookie.split(';')[0].split('=')[1];">user Profile</button> <br>
    <a href="/logout">logout</a> <br>
    <a href="/delete">delete</a> <br>
    <%-tag %>
  </div>
  <h5>Msg : <%= msg %></h5>
  <hr>
</body>
</html>