<!doctype html>
<html ng-app="signup">
<head>
  <title>Website Signup</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
</head>

<body ng-controller="maincontroller">

  <div class="form-container">

    <p class="form-header">Website Sign Up</p>

    <form method="POST" action="/signup">

      <label>Username  </label>
        <input type="text" name="username" ng-model="username"><br>
         <div ng-if="(username.length == 0)" >
           <h3>* Please Enter Username</h3>
         </div>

      <label>Password  </label>
        <input type="password" name="password" ng-model="password1"><br>
      <div ng-if="(password1.length < 8)" >
        <h3>* Password Length should be Atleast 8</h3>
      </div>

      <label>Confirm Password  </label>
      <input type="password" name="password2" ng-model="password2"><br>
      <div ng-if="(password1 !== password2)" >
        <h3>* Password must be Same</h3>
      </div>

      <input type="submit" value="Register"  ng-show="(username.length !== 0 && password1.length >= 8 && password1 == password2 )" >

      <input type="submit" value="Register"  ng-hide="(username.length !== 0 && password1.length >= 8 && password1 == password2 )" disabled>

    </form>

   <h3 >Note: <%= msg %> </h3>
  </div>
  <hr>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/signupcontrol.js"></script>
</body>
</html>